---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/shared.css';
const pageTitle = "About Me";
const identity = {
  firstName: "Reniel",
  country: "Philippines",
  occupation: ["Web Developer", "Mobile Developer"],
  hobbies: ["Coding", "Watching", "Video Games"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "EJS", "SASS", "NodeJS", "Dart", "Flutter"];
const happy = true;
const finished = false;
const goal = 3;
const skillColorRed = "#912121";
const skillColorBlue = "#141b73";
---
        <style define:vars={{skillColorRed, skillColorBlue}}>
            .skill:nth-child(odd){
                color: var(--skillColorRed);
            }
            .skill:nth-child(even){
                color: var(--skillColorBlue);
            }
        </style>
<BaseLayout pageTitle={pageTitle}>
    <section>
            <h2>... and my new Astro site!</h2>

            <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

            <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
        </section>
        <section>
            <ul>
                <li>My name is {identity.firstName}.</li>
                <li>I live in {identity.country} and I work as a {identity.occupation[0]} and {identity.occupation[1]}.</li>
                {identity.hobbies.length >= 2 && <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>}
            </ul>
            <p>My skills are:</p>
            <ul>
                {skills.map((skill)=> <li class="skill">{skill}</li>)}
            </ul>

            <div class="message">
                {happy && <p>I am happy to learning Astro!</p>}
                {finished && <p>I finished a lot of topic this day!</p>}
                {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal was not</p>}
            </div>
            <button id="button">Fork me on GitHub</button>
        </section>
</BaseLayout>